.ui-color-palette-transfer {
  .ui-drop {
    transition: all 0.2s ease-in-out;
    will-change: transform, background-color, box-shadow;
  }

  .ui--drop-target {
    transform: scale(1.5);
    background-color: rgba(var(--mono-background-rgb), 1);
    box-shadow: inset 0 0 0 1px rgba(var(--mono-base-rgb), 1);
    z-index: 1;
  }
}
